.imagecontainer {
    width: 100%;

    /* > div {
        position: unset !important;
    } */

    img {
        //object-fit: contain;
        width: 100% !important;
        height: auto !important;
        //position: relative !important;
        //height: auto !important;
    }
}

/* h2 {}
h4 {} */
