.blur {
    position: relative;
    margin-top: 0 !important;
    height: 100%;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(#000, 0.6);
        //backdrop-filter: blur(5px);
    }
}

@keyframes bounce {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(var(--drop-height)) scale(1, 0.7);
    }
}

.bounceicon {
    --drop-height: 15px;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}
